.header {
    text-align: center;
}

thead,
th,
tbody,
td {
    text-align: center;
    font-size: 8pt;
}

video {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
